.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*
{
box-sizing: border-box;
}
@font-face {
  font-family: "papu";
  src: url(../fonts/pops.ttf);
}
@font-face {
  font-family: "papu1";
  src: url(../fonts/sans.ttf);
}
html,body
{

  height: 100%;
}
nav
{
  display: flex;
  padding-top:4rem;
  padding-bottom: 4rem;
}
.content>.illus>img
{
  width:85%;
  height: auto;
}
.cont
{
  padding-top: 10%;

}
.cont>h1
{
  margin: 0 auto;
  width: 75%;
  font-family: "papu";
}
.cont>p
{
  padding-top:30px;
  margin: 0 auto;
  width:90%;
  font-family: "papu1";
  font-size: 150%;
}
.top
{

  display: flex;
  flex-direction:column;
}
.but-1
{
  margin-left: auto;
  padding-right:2.5%;
}
.jack
{
  background-image: url(../images/mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content
{
  text-align: center;
}

.img1
{
  padding-left:2.5%;
}
.img1>img
{
  width:150px;
}
.but-1>button
{
  font-family: "papu";
  font-weight: bolder;
  background-color: white;
  border: 1px solid white;
  width: 136px;
  height: 32px;
  border-radius:50px;
  box-shadow: 0px 3px 31px -10px rgba(0, 0, 0, 0.5);
}
.but-2
{
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.but-2>button
{
    font-family: "papu";
    font-size: 1.1rem;
    font-weight: 700;
    width: 62%;
    height: 50px;
    border-radius: 30px;
    background: #ff52bf;
    color: #ffffff;
    border: 1px solid #ff52bf;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
}
.mid1
{
  margin-top:  10%;
  display:flex;
  flex-direction:column;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
}
.content1>h1
{
  padding-top: 10%;
  font-family: "papu";
  font-size: 30px;
}
.content1>p
{
  margin: 0 auto;
  font-family: "papu1";
  font-size:20px;
  width: 88%;
  padding-bottom: 10%;
}
.mid1>.grow>img{
  padding-top: 10%;
  width:75%;
  height: auto;
}



.mid2
{
  margin-top:  10%;
  display:flex;
  flex-direction:column;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
}
.content2>h1
{
  padding-top: 10%;
  font-family: "papu";
  font-size: 30px;
}
.content2>p
{
  margin: 0 auto;
  font-family: "papu1";
  font-size:20px;
  width: 88%;
  padding-bottom: 10%;
}
.mid2>.grow1>img{
  padding-top: 10%;
  width:75%;
  height: auto;
}


.mid3
{
  margin-top:  10%;
  display:flex;
  flex-direction:column;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
}
.content3>h1
{
  padding-top: 10%;
  font-family: "papu";
  font-size: 30px;
}
.content3>p
{
  margin: 0 auto;
  font-family: "papu1";
  font-size:20px;
  width: 88%;
  padding-bottom: 10%;
}
.mid3>.grow2>img{
  padding-top: 10%;
  width:75%;
  height: auto;
}


.mid4
{
  position:relative;
  top: 100px;
  margin-top:  10%;
  display:flex;
  flex-direction:column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);

}
.content4>h1
{
  padding-top: 5%;
  font-family: "papu";
  font-size: 25px;
}
.pap
{
  padding-top: 10%;
  background-color:  hsl(192, 100%, 9%);
}
footer>ul
{
  display: grid;
  list-style: none;
  color: white;
}
ul>span>li
{
  padding-top: 35px;
  display: flex;
  font-size:22px;
  font-family: "papu"
}
ul>.first>li>div>img
{
height: auto;
width: 100%;
}
ul>.first>li>p
{
  margin: 0;
  padding-left: 40px;
}
ul>span>li>div
{
width:35px;
}
ul>.first>li>.location
{
  width:60px;
}
footer>img
{
  padding-left: 40px;
}
.but-21
{
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.but-21>button
{
    font-family: "papu";
    font-size: 1.1rem;
    font-weight: 700;
    width: 62%;
    height: 50px;
    border-radius: 30px;
    background: #ff52bf;
    color: #ffffff;
    border: 1px solid #ff52bf;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
}
.pap{
  padding-top: 175px;
  position:relative;
  z-index: -15;
}
.content4
{
  background-color: white;
  border-radius: 30px;
}
@media only screen and (min-width:756px)
{
  .img1>img
  {
    width:200px;
  }
  .but-1>button
  {
    font-family: "papu";
    font-weight: bolder;
    background-color: white;
    border: 1px solid white;
    width: 200px;
    height: 47px;
    border-radius:50px;
    box-shadow: 0px 3px 31px -10px rgba(0, 0, 0, 0.5);
  }
  .jack
  {
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-size:contain;
  }
  .content
  {
    display: flex;
    flex-direction: row;
  }
  .but-2>button
  {
      font-family: "papu";
      font-size: 1.1rem;
      font-weight: 700;
      width: 62%;
      height: 50px;
      border-radius: 30px;
      background: #ff52bf;
      color: #ffffff;
      border: 1px solid #ff52bf;
      box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
  }
  .illus
  {
    padding-right:300px;
  }
  .content>.illus>img
  {
    width:150%;
    height: auto;
  }
  .cont
  {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
  }
  .cont>h1
  {
    margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
    padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
    margin-left: 10%;
    text-align: left;
    width:70%;
    font-family: "papu";
    font-size: 2.1rem;
  }
  .cont>p
  {
    text-align: left;
    padding-top:30px;
    margin: 0 auto;
    width:80%;
    font-family: "papu1";
    font-size:1rem;
  }
  .but-2
  {
            margin-left: 10%;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .but-2>button
  {

      font-family: "papu";
      font-size: 0.7rem;
      font-weight: 700;
      width: 180%;
      height: 45px;
      border-radius: 30px;
      background: #ff52bf;
      color: #ffffff;
      border: 1px solid #ff52bf;
      box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
  }
  .top
  {
    display: flex;
    flex-direction: column;
  }
  .mid1
  {
    margin-top:  10%;
    display:flex;
    flex-direction:row-reverse;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
  }
  .content1>h1
  {
    padding-left: 6%;
    padding-top: 10%;
    font-family: "papu";
    font-size: 30px;
  }
  .content1
  {
    padding-bottom: 5%;
  }
  .mid2
  {
    margin-top:  10%;
    display:flex;
    flex-direction:row-reverse;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
  }
  .content2>h1
  {
    padding-left: 6%;
    padding-top: 10%;
    font-family: "papu";
    font-size: 30px;
  }
  .content2
  {
    padding-bottom: 5%;
  }
  .mid3
  {
    margin-top:  10%;
    display:flex;
    flex-direction:row-reverse;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
  }
  .content3>h1
  {
    padding-left: 6%;
    padding-top: 10%;
    font-family: "papu";
    font-size: 30px;
  }
  .content3
  {
    padding-bottom: 5%;
  }
  .content4
  {
    background-color: white;
    border-radius: 30px;
  }
  .mid4
  {
    position:relative;
    margin-top:10%;
    display:flex;
    flex-direction:column;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 0.38);
    padding-bottom: 1%;
    top: 100px;
  }
  footer>ul>.first
  {
    width:33.33%;
  }
  footer>ul>.second
  {
    width:33.33%;
  }
  footer>ul>.third
  {
    width:33.33%;
  }
  footer>ul>.first>li:first-child>p
{
  width:60%;
}
ul>.first>li>p
{
  font-size: 0.9rem;
  margin: 0;
  padding-left: 40px;
}
ul>.first>li>div
{
width:15px;
}
ul>.first>li>.location
{
  width:20px;
}
footer>ul
{
  display: flex;
  flex-direction: row;
}
.pap{
  position:relative;
  z-index: -15;
}
}
